/* ~~ Make the Log out button in header look like a link ~~ */
#logout-btn {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: inherit;
  font-size: inherit;
  color: #007bff;
  cursor: pointer;
  outline: none;
  border: 0;
}

#logout-btn:hover {
    color: blue;
    text-decoration: underline;
}

#logout-form {
    display: inline;
}
/* ~~~~ */

/* ~~ Django flash messages ~~*/
.msg {
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
}

.msg-success {
    background-color: lightgreen;
}
/* ~~~~ */

#main-container {
    padding: 8px;
}

header {
    padding-block: 15px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid;
}

header > * {
    font-size: 17px;
    padding-inline: 2px;
}
