/* ~~ Make the Log out button in header look like a link ~~ */
#logout-btn {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: inherit;
  font-size: inherit;
  color: #007bff;
  cursor: pointer;
  outline: none;
  border: 0;
}

#logout-btn:hover {
    color: blue;
    text-decoration: underline;
}

#logout-form {
    display: inline;
}
/* ~~~~ */

/* ~~ Django flash messages ~~*/
.msg {
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
}

.msg-success {
    background-color: lightgreen;
}
/* ~~~~ */

/* ~~ Default button styles ~~ */
button:not(.no-style, .no-default-style) {
    color: #fff;
    background-color: #17a2b8;
    border: 0;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:not(.no-style, .no-default-style):hover {
    background-color: #138496;
}

.no-style {
    width: 100%;
    text-align: start;
    outline: none;
    padding: 5px;
    border: 0px;
    box-sizing: none;
    background-color: transparent;
}
/* ~~~~ */

/* ~~ Search ~~ */
#searchbar {
    display: flex;
}

#search-link {
    display: none;
}

@media screen and (max-width: 500px) {
    #searchbar {
        display: none;
    }
    #search-link {
        display: block;
    }
}
/* ~~~~ */

#main-container {
    padding: 8px;
}

/* ~~ Header ~~ */
header {
    padding-block: 15px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid;
}

header > * {
    font-size: 17px;
    padding-inline: 2px;
    align-self: center;
}
/* ~~~~ */