/* ~~ Posts - home page ~~ */
#posts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-post {
    max-width: 600px;
    width: 100%
}

#top-bar {
    max-width: 600px;
    width: 100%
}

.post {
    max-width: 600px;
    width:100%;
    margin-block: 8px;
    padding: 8px;
    background: orange;
    border-radius: 5px;
}

.post-content {
    background-color: white;
    border-radius: 3px;
    padding: 8px;
    margin: 5px;
    overflow-wrap: break-word;
}
/* ~~~~ */

/* is_mod set to false */
.no-is_mod {
    display: none;
}
