.username {
    padding: 3px 10px;
    margin: 5px;
    background-color: lightblue;
    border-radius: 2px;
    width: fit-content;
}

#searchbar-page {
    display: none;
}

#results-for {
    display: block;
}

@media screen and (max-width: 500px) {
    #searchbar-page {
        display: flex;
    }

    #results-for {
        display: none;
    }
}
