{% extends 'posts/base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'posts/css/main.css' %}">
<link rel="stylesheet" href="{% static 'search/search.css' %}">
{% endblock stylesheet %}

{% block base_body %}
    <form id="searchbar-page" method="GET" action="{% url 'search-users' %}" >
        <input class="form-control" placeholder="Username..."
               value="{% if search %}{{ search.query }}{% endif %}"
               type="search" name="search">
        <button class="btn btn-info ml-2" type="submit"> Search </button>
    </form>
    <h4 id="results-for">Results for "{{ search.query }}":</h4>
    {% for res in search.result %}
        <div class="username">
            {{ res.username }}
        </div>
    {% endfor %}
{% endblock base_body %}

