{% extends 'posts/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'posts/css/main.css' %}">
{% endblock stylesheet %}

{% block base_body %}
<h1>I, <strong>beecroft69</strong>, am your boss</h1>
<h2>
    Please remember:<br>
    0. To obey me.<br>
    1. To respect the confidentiality of user information and not to disclose their personal data.<br>
    2. To interfere in the resolution of conflicts and unacceptable user behavior in accordance with the established rules of the site.<br>
    3. Monitor user activity on the site and respond to violations of the rules.<br>
    4. To moderate the content on the site by removing inappropriate or offensive material.<br>
    5. Monitor users' reactions to moderation measures, answer their questions and feedback.<br>
    6. To ensure the safety of users by preventing various types of fraud and hacker attacks.<br>
    7. Observe professional ethics in communicating with users and colleagues.<br>
    8. Regularly update knowledge and skills in the field of site moderation in order to effectively perform their duties.<br>
</h2>
{% endblock base_body %}
